@import url("./modules/estilosGerais.css");
@import url("./modules/contato.css");
@import url("./modules/efeitoScroll.css");

.btn-orange {
    background-color: #E45E16;
    border: none;
    color: white;
}

.btn-orange:hover {
    background-color: rgb(34, 85, 226);
    color: white;
}

.text_slide {
    color: black;
}


.navbar-orange {

    background-color: #e6844f;
    border: none;
    color: white;

}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


@media (max-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

    .carousel-caption{
        color: black;
    }
}
